<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Издательства и книги</title>
</head>
<body>
    <h1 class="text-secondary" style="margin-left: 5vw">Издательства и книги</h1>
    {% for redaction in redactions %}
        <ul class="list-group">
            <li class="list-group-item text-success">
                {{ redaction.name }}
                <ul class="list-group text-secondary">
                    {% for book in redaction.books.all %}
                        <li class="list-group-item"> {{ book.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}
</body>
</html>